html {
    min-height:100vh;
    font-family:'Noto Sans', monospace;
    color:#333;
}
body {
    min-height: 100vh;
}
h1 {
    font-family:'Sarpanch', sans-serif;
}
h1, h2, h3, h4 {
    color:#0f4c81;
}
#main-flex-wrap {
    display:flex;
    flex-direction: row;
    justify-items: center;
    align-items: stretch;
    min-height:100vh;
}
#flex-menu {
    background: url('img/noise.png') repeat;
    width:35%;
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0 2rem 0 0;
    align-items: flex-end;
    justify-content: flex-start;
}
#main-menu {
    padding-top:3rem;
    position:fixed;
}
#menu-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: right;
}
.menu-item:link, .menu-item:visited {
    display: block;
    margin:.3rem 0;
    padding:1rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color:#eee;
    font-size:1.25rem;
    border-right:rgb(58, 119, 189) 5px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu-item:hover {
    border-right:#eee 5px solid;
}
#flex-content {
    background: url('img/noise-light.png') repeat;
    width:65%;
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0 0 2rem 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}
.content-box {
    margin-top:2rem;
    padding:1rem 1rem 1rem 1rem;
    background:#fff;
    box-shadow: 5px 5px 0 0 #0f4c81;
    width: 85%;
}
#title {
    display:block;
    margin:0 0 4rem;
    padding:0;
    color:#eee;
}
#title span {
    font-size:1.15em;
}
.social-icon {
    width:36px;
    height:auto;
    vertical-align: middle;
}
#contact-form{
    max-width:30rem;
}
#contact-form input, #contact-form textarea, #contact-form button {
    width:100%;
    border:1px solid #0f4c81;
    border-radius:5px;
    padding:1ex;
}
#contact-form textarea {
    min-height:8rem;
}
@media (max-width: 768px) {
    #flex-menu {
        width:30%;
        padding-right: .5rem;
    }
    #flex-content {
        width:70%;
        padding: 0 0 2rem .5rem;
    }
    #main-menu {
        margin-right:0;
        padding-right:0;
    }
    .menu-item:link, .menu-item:visited {
        font-size: .9rem;
        padding-right: .3rem;
    }
    #title {
        font-size: .9rem;
        margin-bottom: 3rem;        
        text-align: right;
    }
    #title span {
        display:block;
        text-align:right;
    }
    #content-title {
        font-size: 1.2rem;
        line-height: 1.75rem;
    }
}
@media (max-width: 400px) {
    #title {
        font-size: .75rem;
    }
    .menu-item:link, .menu-item:visited {
        font-size: .7rem;
        padding-right: .3rem;
    }
    .content-box {
        width: 85%;
        margin-top: 1rem;
    }
}